PORT=8080
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/travel-app # Update this with your connection string
JWT_SECRET=your_jwt_secret_key
CLIENT_URL=https://your-frontend-url.vercel.app

# Super Admin Credentials (Environment Based)
SUPER_ADMIN_USERNAME=superadmin
SUPER_ADMIN_PASSWORD=your_super_admin_password

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=travel-app-content

# Brevo Email Configuration
BREVO_API_KEY=your_brevo_api_key
